.profil{ 
    padding: 100px;
    text-align: center ;
}
.udaje{
    border: 2px solid #ECEEF2;
    padding: 20px;
    display: inline-block;
    text-align: left;
    gap: 20px;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    margin: 0 auto ;
}
button{
    background-color: red;
    color: #ECEEF2;
    border: none;
    padding: 10px;
    float: right;
}

button:hover{
    background-color: #8B5CF6;
    color: #ECEEF2;
}